# Getting information from data

Focus on descriptive statistics and some early stage exploration.

In [111]:
import pandas as pd

df = pd.read_csv('./df_rides.csv')
df

,user_gender,user_birthdate,user_residence,ride_date,time_start,time_end,station_start,station_end,ride_duration,ride_late
0,M,1971-06-08,NaN,2018-01-01,06:05:18,06:21:33,11 - Rodoviária 2,41 - Instituto de Artes,16.250000,0.0
1,M,1989-02-11,DF,2018-01-01,06:27:01,06:32:17,26 - Ministério da Saude,28 - CNMP - Conselho Nacional do Ministério Pú...,5.266667,0.0
2,M,1968-07-19,NaN,2018-01-01,06:29:33,06:44:57,11 - Rodoviária 2,43 - Biblioteca Central,15.400000,0.0
3,M,1991-12-19,NaN,2018-01-01,06:53:53,06:59:45,10 - Ministério dos Transportes,6 - Rodoviária,5.866667,0.0
4,M,1969-03-03,DF,2018-01-01,06:58:56,17:40:04,15 - Brasil 21,11 - Rodoviária 2,641.133333,1.0
...,...,...,...,...,...,...,...,...,...,...
287317,M,1994-01-16,DF,2018-08-31,23:11:42,23:40:20,47 - EQN 410/411,47 - EQN 410/411,28.633333,0.0
287318,M,1990-04-15,NaN,2018-08-31,23:12:02,23:40:10,47 - EQN 410/411,47 - EQN 410/411,28.133333,0.0
287319,M,1976-06-19,DF,2018-08-31,23:15:31,23:18:40,34 - Shopping Mall,22 - 102 Sul,3.150000,0.0
287320,M,1978-01-27,NaN,2018-08-31,23:20:42,23:27:01,24 - Galeria,33 - EQS 104/304,6.316667,0.0
287321,M,1984-05-27,NaN,2018-08-31,23:21:18,23:25:28,14 - Brasília Shopping,6 - Rodoviária,4.166667,0.0

In [112]:
df.describe()

       ride_duration      ride_late
count  214148.000000  214148.000000
mean       29.915932       0.098829
std        58.857297       0.298433
min         3.000000       0.000000
25%         8.083333       0.000000
50%        14.200000       0.000000
75%        33.766667       0.000000
max       999.600000       1.000000

In [113]:
# Calculating the average ride duration
avg_ride_duration = round(df.ride_duration.mean(),2) 
print(f"Average ride duration is: {avg_ride_duration} minutes.")

Average ride duration is: 29.92 minutes.

In [114]:
# We can remove the invalid entries.
df.ride_late.dropna()

df.ride_late.sum()

# Counting the values 0 - for not late and 1 - for late.
df.ride_late.value_counts()
# If we pass 1 to value_counts() we get the proportion.
df.ride_late.value_counts(1)

# Calculating percentage of people that were late to delivering the bike.
ride_late_proportion= round(df.ride_late.value_counts(1),4) 

# Now we have a list containing the proportions between the two values, so we can calculate the percentage.
ride_late_percentage = ride_late_proportion[0]*100
print(f"{ride_late_percentage}% of people delivered their bike late.")

90.12% of people delivered their bike late.