# Intro to pandas

Pandas is a Python library, most likely one of the most popular library when it comes to Data Science.

In [19]:
# Importing libraries: import: [library name] as [how you want to reference it in the file].
import pandas as pd

# Now let's import a file to explore the Pandas library.
df = pd.read_csv("./BBAS3.SA.csv")

In [20]:
# The .head() shows us the top 5 rows in the dataset.
df.head()

# The .tail() shows us the bottom 5 rows.
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
241,2019-09-16,47.040001,47.560001,46.299999,46.650002,46.650002,8175500
242,2019-09-17,46.389999,47.450001,46.119999,47.299999,47.299999,6744200
243,2019-09-18,47.459999,48.250000,47.160000,48.020000,48.020000,8528300
244,2019-09-19,48.410000,48.700001,46.770000,46.770000,46.770000,9661800
245,2019-09-20,47.000000,47.980000,46.900002,47.509998,47.509998,15284500

In [28]:
# We can explore the different characteristics of the DataFrame.
type(df) # this tell us the type of data
df.dtypes # this tells us the types of data of the different series in the DataFrame
df.info() # is a way to summarize information as a table
df.columns # will display the names of the series in the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       246 non-null    object
 1   Open       246 non-null    float64
 2   High       246 non-null    float64
 3   Low        246 non-null    float64
 4   Close      246 non-null    float64
 5   Adj Close  246 non-null    float64
 6   Volume     246 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 13.6+ KB

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [ ]:
# We can select